* {
  box-sizing: border-box;
}

.contai_body {
  box-sizing: border-box;
  background-color: var(#d6d6d6);
}

.contai_content {
  box-sizing: border-box;
  width: calc(100% - 280px);
  height: 100vh;
  transition: width 0.2s linear;
  background-color: #e8e7e7;
  overflow-y: scroll;
}

.contai_content_full {
  transition: width 0.2s linear;
  width: 100%;
}

.contai_content_full .top_content {
  margin-left: 50px;
}

.contai_content_full .icon_bar {
  box-sizing: border-box;
  display: block !important;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 50%;
  cursor: pointer;
}

.edit_voices {
  position: relative;
}

.categories_voices_container {
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
}

.contai_content .categories_voices {
  list-style-type: none;
  background-color: #ffffff;
}

.contai_content .text_input {
  box-sizing: border-box;
}

.contai_content thead tr {
  color: white;
  background-color: #00bcd4;
}

.contai_content .contai_table {
  padding: 10px;
  background-color: white;
  overflow-x: scroll;
}

.contai_content .contai_table table {
  width: 100% !important;
}

.contai_content .contai_table tr {
  padding: 15px !important;
}

.contai_content .contai_table .col_title {
  width: calc(100% - 650px);
  min-width: 320px;
}

.contai_content .contai_table .col_chars {
  width: 60px;
}

.contai_content .contai_table .col_date {
  width: 170px;
}

.contai_content .contai_table .col_status {
  width: 100px;
}

.contai_content .contai_table .col_voices {
  width: 140px;
}

.contai_content .contai_table .col_action {
  width: 130px;
}

.contai_content .contai_table tbody tr:hover {
  background-color: #c2fafa;
}

.filter_check > div {
  min-width: 140px;
  max-width: 160px;
  box-sizing: border-box;
}

.filter_check div div {
  border: 1px solid #929292;
  border-radius: 3px;
  padding: 5px;
}

.filter_check div div:hover {
  border: 1px solid black;
}

.filter_check div div:focus-within {
  border: 2px solid #00bcd4;
}

.filter_check div div input {
  outline: none;
  border: none;
}

.filter_check div input {
  max-width: 140px;
  background-color: transparent;
}

.col_action li {
  cursor: pointer;
}

.contai_content .croll_audio {
  width: 0px;
  transition: width 10s;
}

audio::-webkit-media-controls-panel {
  background-color: #e8e7e7;
}

.contai_nav {
  width: 280px;
  transition: width 0.2s linear;
}

.contai_nav_hide {
  display: none;
  padding: 0px !important;
  width: 0px;
  transition: width 0.2s linear;
}

.logo {
  color: #00bcd4;
}

.contai_nav ul li {
  cursor: pointer;
}

.contai_nav ul li.active_nav {
  color: white;
  background-color: #00bcd4;
}

.contai_nav ul li.active_nav .wrapper_img {
  border-radius: 50%;
  background-color: #fff;
}
.contai_nav ul a {
  text-decoration: none;
  color: unset;
}

.contai_nav ul li:hover {
  background-color: #9cf0f0;
}

.contai_nav_hide .icon_toggle {
  display: none;
}

.popup_view {
  width: 100% !important;
  margin: auto;
}

.contai_header {
  border: none !important;
}

.top_popup {
  background-color: #00bcd4;
}

.close_popup {
  position: absolute;
  top: 10px;
  left: 100%;
  transform: translateX(-200%);
}

ul {
  list-style-type: none;
}

.login_content_form {
  width: 375px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_body {
  background-color: #00bcd4;
}

.login_body h2 {
  color: #00bcd4;
}

.login_body .submit {
  background-color: #00bcd4;
}

.login_body .submit:hover {
  background-color: #0ad0d0;
  color: white;
}

.login_body .submit_outline:hover {
  color: white;
}

.contai_nav_home {
  background-color: #00bcd4;
}

.contai_nav_home nav {
  background-color: #00bcd4;
}

.title_input {
  background-color: #00bcd4;
  border-top: 1px solid dimgray;
  border-right: 1px solid dimgray;
  border-left: 1px solid dimgray;
}

textarea {
  outline: none;
}

#download {
  background-color: #787878;
  color: black;
  text-decoration: none;
  padding: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
}

#download:hover {
  background-color: #8c8c8c;
}

.contact ul {
  list-style-type: none;
}

.contact ul li {
  display: inline;
}

textarea:focus,
input:focus {
  outline: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper ul {
  display: flex;
  align-items: flex-end;
  overflow-x: scroll;
  list-style: none;
  margin-top: 15px;
}
.wrapper ul li {
  width: 10px;
  height: 10px;
  opacity: 0;
  margin: 0 5px 0 0;
  background-color: #ececec;
}
.wrapper ul li:nth-child(1) {
  transition: opacity 100ms linear 200ms;
}
.wrapper ul li:nth-child(2) {
  transition: opacity 100ms linear 400ms;
}
.wrapper ul li:nth-child(3) {
  transition: opacity 100ms linear 600ms;
}
.wrapper ul li:nth-child(4) {
  transition: opacity 100ms linear 800ms;
}
.wrapper ul li:nth-child(5) {
  transition: opacity 100ms linear 1000ms;
}
.wrapper ul.active li {
  opacity: 1;
}

.contai_popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(48, 39, 39, 0.5);
}

.content_popup {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.play_text_details:hover,
.view_text_details:hover,
.download_text_details a:hover {
  color: #0dcaf0 !important;
}

.edit_text_details:hover {
  color: #9c6262;
  height: 20px;
}

.delete_text_details:hover {
  color: red;
}

@media only screen and (max-width: 400px) {
  .content_popup {
    width: 100vw;
    padding: 5px;
  }
}

.loading button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #0dcaf0;
  border: none;
  background: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 5px;
}

.loading button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading button > svg > rect {
  fill: none;
  stroke: #0dcaf0;
  stroke-width: 1px;
  stroke-dasharray: 240 160 240 160;
  stroke-dashoffset: 0;
  animation: pathRect 2s linear infinite;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 200;
  }
  75% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 400;
  }
}
